#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.scroller-container {
  display: flex;
  height: 100vh; 
  overflow: hidden; 
  gap: 20px; 
}

.left-panel, .right-panel {
  flex: 1; 
  overflow-y: scroll;
}

.left-panel {
  padding: 20px;
}

.right-panel {
  padding: 20px;
}

.left-item {
  font-size: 2.5em;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  opacity: 0.5;
}

.left-item.active {
  opacity: 1;
  color: #646cff;
}

.right-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.right-item img {
  max-width: 80%;
  max-height: 80vh;
  object-fit: contain;
}